*{
	box-sizing: border-box;
}

body{
	background: url('../images/wallpaper.jpg');
	font-size: 18px;
	line-height: 34px;
	font-family: 'Arial', 'Helvetica Neue',Helvetica, sans-serif;
	color: #777;
}

.container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

h1,h2,p {
	margin-bottom: 20px;
}

p:last-child{
	margin-bottom: 0;
}
h1,h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 700;
	color: #4aaaa5;
}

h1 {
	font-size: 30px;
	line-height: 49px;
	border-bottom: 3px solid #ddd;
	padding-bottom: 20px;
}

h2{
	font-size: 22px;
}

#masterheader {
	background: #fff;
	margin: 0 0 30px;
	z-index: 99;
	color: #fff;
	overflow: auto;
	border-bottom: 2px solid #ccc;

	width: 100%;
}

#logo {
	width: 250px;
	height: 90px;
	background: #4aaaa5;
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	line-height: 90px;
	color: #fff;
	font-weight: 700;
	font-size: 25px;
	text-decoration: none;
}

nav{
	float:right;
	margin-top: 25px;

}

nav a{
	color: #999;
	text-decoration: none;
	margin-left: 15px;
	display: inline-block;
	border-left: 1px solid #efefef;
	padding-left: 15px;
	line-height: 18px;
}

nav a:first-child{
	border-left: 0 none;
}

#main-container {
	padding-top: 130px;
	padding-left: 50px;
}

.main-section {
  background: #fff;
  padding: 30px;
  margin: 0 0 40px;
  width: 100%;
  max-width: 650px;
  float: left;
  border: 1px solid #ddd;
}

.myimage{
	width: 200px;
	height: auto;
	margin-top : 10px;
	margin-right: 25px;

}

footer{
	background: #666;
	color: #fff;
	padding: 30px 0;
	clear: both;
	border-top: 8px solid #4aaaa5;
	color: #ccc;
	font-size: 12px;
	text-align: center;
}

.work:nth-child (even) {
	margin-right: 40px;
}

@media screen and (max-width:960px) {
	.container{
		width:auto;
	}
}

@media screen and (max-width:768px) {
	#main-container{
		
		padding-left: 20px;
	}
	#logo {
		
	}
	.myimage{
	
	}
	nav{
	
	}		
}

@media screen and (max-width:640px) {
	#main-container{
		padding-top: 0%;
		padding-right: 30px;
		padding-left: 30px;
	}
	#logo {
		width: 640px;
		
	}
	.myimage{
	height: 75;
	width: 75%;
	}
	nav{
		width: 640px;
		margin-top: 25px;
		padding-left: 175px;
	
	}
	
}